body{
    background-color: #7AB2D3;
}
.navbar{
    background-color: #DFF2EB;
}

.logo-nombre{
    width: 30%;
   
}
#sobre-mi{
    background-image: url(../imag/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    font-size: medium;

   
    
}
.resumen{
    background-color: rgba(122, 178, 211,0.5);
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    

}

.mi-foto{
    width: 200px;
    height: auto;
}

#educacion{
    text-align: center;
    background-color: #B9E5E8;
   
    


}
.logo-desafio{
   
   width: 370px;
   height: auto;

}
.logo-comap{
    width: 150px;
    height: auto;
}
.logo-siemens{
    width: 150px;
    height: auto;

}

#experiencia{
 
    width: max-content;
    height: min-content;
    
}
.imagen-sincronismo{
    width:1000px;
    height: auto;
}
.imagen-alarmas{
    width: 1000px;
    height: auto;
}
.imagen-temperatura{
    width: 1000px;
    height: auto;

}
footer{
    background-color: #4A628A;
}